
.additional__text {
    margin: 0px;
    position: absolute;
    top: 226px;
    left: 18px;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    width: 248px;
}