@media screen and (max-width: 425px) {
    .video__icon_type_play {
        position: absolute;
        top: 8.33%;
        left: 5.55%;
        width: 41px;
        height: 41px;
    }
}

@media screen and (min-width: 426px) and (max-width: 768px) {
    .video__icon_type_play {
        position: absolute;
        top: 12.5%;
        left: 7%;
        width: 41px;
        height: 41px;
    }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
    .video__icon_type_play {
        position: absolute;
        top: 10.41%;
        left: 6.57%;
        width: 41px;
        height: 41px;
    }
}

@media screen and (min-width: 1025px) {
    .video__icon_type_play {
        position: absolute;
        top: 5%;
        left: 5%;
        width: 41px;
        height: 41px;
    }
}
